<h1 id="tableLabel">Create Employee</h1>

<form novalidate
    (ngSubmit)="onSubmit(myform)" #myform = "ngForm">

    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="name">Name</label>
        <div class="col-md-8">
            <input class="form-control"
                    name="name"
                    type="text"
                    placeholder="First Name (required)"
                    ngModel />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="address">Address</label>
        <div class="col-md-8">
            <input class="form-control"
                    name="address"
                    type="text"
                    placeholder="Address (required)"
                    ngModel />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="phoneNumber">Phone Number</label>
        <div class="col-md-8">
            <input class="form-control"
                    name="phoneNumber"
                    type="text"
                    placeholder="Phone Number (required)"
                    ngModel />
        </div>
    </div>

    <div class="form-group row mb-2">
        <input class="btn btn-primary" type="submit" />
    </div>

    
</form>
