<h1 id="tableLabel">Employees</h1>

<p>This component demonstrates fetching data from the server.</p>

<a class="btn btn-primary" [routerLink]="['/employee-add']">Create</a>

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.phoneNumber }}</td>
      <td>
        <a class="btn btn-secondary" [routerLink]="['/employee-edit', employee.id]">Edit</a>
        <a class="btn btn-danger" [routerLink]="['/employee-delete', employee.id]">Delete</a>
      </td>
    </tr>
  </tbody>
</table>